<div class="col-12 col-md-6 col-lg-4 mb-4 article">
    <a href="{{ item.url }}" class="d-flex flex-column">
        {% if item.summaryImage.one %}
            <div class="img mb-4">
                <img src="{{ item.summaryImage.one.url({ width: 800, height: 600, format: 'webp' }) }}" alt="{{ item.title }}" class="w-100">
            </div>
        {% endif %}
        <h4 class="title pt-2 mb-3">
            <span>{{ item.title|length > 45 ? item.title|slice(0, 45) ~ '...' : item.title }}</span>
        </h4>
        {% if item.pageSummary %}
            <div class="copy mb-3">{{ item.pageSummary|length > 170 ? item.pageSummary|slice(0, 170) ~ '...' : item.pageSummary }}</div>
        {% endif %}
        <h6>{{ item.postDate | date("M d, Y") | upper }}</h6>
    </a>
</div>