{# When including in templates, must include with "buttons" and "classes" #}
{# If check to determine if button is from CMS field or manually included #}

{% if buttons is defined and buttons.one %}
    {% for button in buttons.all() %}
        <a{{ button.button.getLinkAttributes() }} class="button {{ classes }} {{ button.buttonColour }} {{ not loop.last ? "me-5" }}">
            <span>{{ button.button.getCustomText }}</span>
        </a>
    {% endfor %}
{#{% else %}#}
{#    <a href="{{ link }}" class="button {{ classes }}">#}
{#        <span>{{ text }}</span>#}
{#    </a>#}
{% endif %}