{% extends "_layout" %}

{# sets up the categorySlug based on the last segment of the URL #}
{% set categorySlug = craft.app.request.segments | last %}

{# set page title and description for news filtered pages #}
{% if entry is not defined %}
    {% set entry = craft.entries.section("latestIndex").one %}
    {% set title = "Latest - " ~ craft.app.request.segments|last|title %}
    {% set filter = craft.app.request.segments|last|title %}
    {% set pageDescription = "Latest - Filtered by " ~ craft.app.request.segments|last|title %}
    {% set seo = craft.seo.custom(
        {
            title:  title
        },
        pageDescription
    ) %}
{% endif %}

{% block content %}

    {% if entry.pageHeader.count() %}
        {% set header = entry.pageHeader.one %}
        {% include '_includes/_page-headers/_' ~ header.type.handle %}
    {% endif %}

    <div class="container">

        <div class="news-categories d-flex flex-wrap align-items-center mb-5">
            <span class="text-uppercase font-weight-bold underline mb-2 me-4">Filters:</span>
            <a href="/latest" class=" text-uppercase mb-2">All</a>
            <span class="text-aqua px-3 mb-2">|</span>
            {% for cat in craft.categories().group('newsCategories').all() %}
                <a href="{{ cat.url }}" class="text-uppercase mb-2 {% if categorySlug == cat.slug %}fw-bold{% endif %}">{{ cat.title }}</a>
                {% if not loop.last %}<span class="px-3 mb-2">|</span>{% endif %}
            {% endfor %}
        </div>

        <div class="row pb-5">
            {# Now that we have set the category slug above we can get the realted category object #}
            {% set category = craft.categories.slug(categorySlug).one() %}
            {% set section = craft.entries.section('latest').relatedTo(category) %}
            {% set query = section.limit(6) %}
            {% paginate query as pageInfo, pageEntries %}
            {% for item in pageEntries %}
                {% include '/_includes/_content-builder/_partial/article.twig' %}
            {% endfor %}
        </div>
        {% if pageInfo.totalPages > 1 %}
            <div class="row justify-content-center pagination-links pb-5">
                {% if craft.app.request.absoluteUrl == pageInfo.firstUrl %}
                    <span class="px-2">First page</span>
                {% else %}
                    <a href="{{ pageInfo.firstUrl }}" class="px-2">First Page</a>
                {% endif %}

                {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="px-2">Previous Page</a>{% endif %}

                {% for page, url in pageInfo.getPrevUrls(5) %}
                    <a href="{{ url }}" class="px-2">{{ page }}</a>
                {% endfor %}

                <span class="current px-2">{{ pageInfo.currentPage }}</span>

                {% for page, url in pageInfo.getNextUrls(5) %}
                    <a href="{{ url }}" class="px-2">{{ page }}</a>
                {% endfor %}

                {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="px-2">Next Page</a>{% endif %}

                {% if craft.app.request.absoluteUrl == pageInfo.lastUrl %}
                    <span class="px-2">Last page</span>
                {% else %}
                    <a href="{{ pageInfo.lastUrl }}" class="px-2">Last Page</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}