{% if header.backgroundImage.one() %}
    {% set bg = 'background-image: url("' ~ header.backgroundImage.one.url() ~ '");'%}
{% else %}
    {% set bg = ''%}
{% endif %}

<header class="pageHeader outer {{ header.backgroundColour }}" style="{{ bg }}">

    {% if header.showOverlay %}
        <div class="overlay" style="{% if header.overlayColour is not empty %}background-color:{{ header.overlayColour }};{% endif %}{% if header.overlayOpacity is not empty%}opacity:{{ header.overlayOpacity }};{% endif %}">
        </div>
    {% endif %}

    <div class="container {{ header.topSpacing }} {{ header.bottomSpacing }} mainHeader {{ entry.transparentNav ? "transparentNav" }}" >
        <div class="row py-5">
            <div class="col-12">
                <h1 {% if header.headerColour is not empty %}style="color: {{ header.headerColour }};{% endif %}">
                    {{ header.header }}
                </h1>
                <div class="copy" {% if header.textColour is not empty %}style="color: {{ header.textColour }};{% endif %}">
                    {{ header.copy }}
                </div>
            </div>
        </div>
    </div>
</header>