{% if header.backgroundImage.one() %}
    {% set bg = 'background-image: url("' ~ header.backgroundImage.one.url() ~ '");'%}
{% else %}
    {% set bg = ''%}
{% endif %}

<header class="outer {{ header.backgroundColor }}" style="{{ bg }}">
    <div class="container {{ header.topSpacing }} {{ header.bottomSpacing }} mainHeader {{ entry.transparentNav ? "transparentNav" }}" >
        <div class="row py-5">
            <div class="col-12">
                <h1>{{ header.header }}</h1>
                <div class="copy">{{ header.copy }}</div>
            </div>
        </div>
    </div>
</header>