{% set footerNav = craft.navigation.nodes().handle('footerNavigation').level(1).all() %}
<footer>
    <div class="container text-center text-md-start">
        <div class="row py-5">
            <div class="col-12 col-md-4 logo-container">
                <a href="{{ siteUrl() }}" class="d-block mb-lg-5 mb-4">
                    <img src="https://placehold.co/200x50.jpg" alt="Site logo">
                </a>
            </div>
            <div class="col-12 col-md-4">
                {% if companyInfo.address | length %}
                    <div class="address">
                        {{ companyInfo.address }}
                    </div>
                {% endif %}
                {% if companyInfo.email | length %}
                    <div class="email">
                        <a href="mailto:{{ companyInfo.email }}" >{{ companyInfo.email }}</a>
                    </div>
                {% endif %}
                {% if companyInfo.phoneNumber | length %}
                    <div class="tel">
                        <a href="tel:{{ companyInfo.phoneNumber }}">{{ companyInfo.phoneNumber }}</a>
                    </div>
                {% endif %}
            </div>
            {# <div class="col-12 col-md-6 pt-4 pt-md-0 copy">{{ footerDisclaimer.copy }}</div> #}
            <div class="col-12 col-md-4 footer-nav-links d-flex flex-column align-items-center align-items-md-end pt-4 pt-md-0">
                {% for item in footerNav %}
                    <div class="item px-3">
                        <a href="{{ item.url }}" class="link">{{ item.title }}</a>
                        {% if item.children | length %}
                            <div class="sub-menu">
                                {% for child in item.children.all() %}
                                    <a class="link" href="{{ child.url }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% set subFooterNav = craft.navigation.nodes().handle('subFooterNavigation').level(1).all() %}
        <div class="row pb-3 sub-footer">
            <div class="col-12">
                <div class="border-top border-white pt-4 d-lg-flex justify-content-lg-between">
                    <div class="mb-5 mb-lg-0">Copyright © {{ now | date('Y') }}. All rights reserved.</div>
                    <div class="d-lg-flex justify-content-lg-between links mb-5 mb-lg-0">
                        {% for item in subFooterNav %}
                            <a href="{{ item.url }}" class="link d-block mb-3 mb-lg-0 px-4">{{ item.title }}</a>
                        {% endfor %}
                    </div>
                    <div>
                        <a href="https://fortytwo.studio" target="_blank" rel="noopener">
                            <img src="/img/fortytwo-studio-logo.svg" alt="Designed & Built by FortyTwo Studio" class="fortytwo-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>