{% set mainNav = craft.navigation.nodes().handle('mainNavigation').level(1).all() %}

<nav id="main-nav">
    <div class="container">
        <div class="row py-3">
            <div class="col-4 navbar-logo d-flex align-items-center">
                <a href="{{ siteUrl() }}">
                    <img src="https://via.placeholder.com/300x100.jpg" alt="Site logo">
                </a>
            </div>
            <div class="col-8 navbar-links d-flex justify-content-end align-items-center">
                <!-- Desktop navigation links -->
                {% for item in mainNav %}
                    <div class="item {{ item.active ? 'active' }} px-3">
                        <a href="{{ item.url }}" class="link">{{ item.title }}</a>
                        {% if item.children | length %}
                            <div class="sub-menu d-flex flex-column">
                                {% for child in item.children.all() %}
                                    <a class="link" href="{{ child.url }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- Mobile navigation hamburger -->
                <button class="hamburger hamburger--squeeze" type="button" id="mobile-navbar-toggle">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <!-- Mobile navigation links -->
            <div class="col-12 mobile-navbar-links text-center d-flex flex-column align-items-center" id="mobile-navbar-links">
                {% for item in mainNav %}
                    <div class="item {{ item.active ? 'active' }} p-2">
                        <a href="{{ item.url }}" class="link">{{ item.title }}</a>
                        {% if item.children | length %}
                            <div class="sub-menu d-flex flex-column">
                                {% for child in item.children.all() %}
                                    <a class="link" href="{{ child.url }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>