<section class="outer text-block py-10 lg:py-20" style="background-color: {{ block.backgroundColour }};" id="anchor-{{ block.id }}">
    <div class="container mx-auto">
        <div class="lg:grid grid-cols-12 gap-10 items-center">
        {% if block.title | length %}
            <div class="col-span-12">
                <h2 class="text-4xl lg:text-5xl">{{ block.title }}</h2>
            </div>
        {% endif %}

        <div class="lg:col-span-6 form">
            {{ craft.freeform.form("contactForm", {}).render() }}
        </div>
        
        <div class="lg:col-span-4 lg:pl-50">
            {% if companyInfo.address | length %}
                <div class="address col-6 mb-10">
                    <div class="mb-3">Address</div>
                    {{ companyInfo.address }}
                </div>
            {% endif %}
            {% if companyInfo.phoneNumber | length %}
                <div class="tel mb-5">
                    <div class="mb-3">Phone Number</div>
                    <a href="tel:{{ companyInfo.phoneNumber }}" style="color: {{ block.textColour }};">{{ companyInfo.phoneNumber }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>