<section class="outer video-block py-10 lg:py-20" style="background-color: {{ block.backgroundColour }}" id="anchor-{{ block.id }}">
    <div class="container mx-auto">
        {% if block.video.one %}
            <div class="video-wrapper">
                {% set vid = block.video.one %}
                {% if vid.type == 'externalVideo' %}
                    {% if vid.externalVideo.media.type == 'video' %}
                        {{ vid.externalVideo.render({
                            params: {
                                autoplay: 0,
                                controls: 1,
                                loop: 0,
                                mute: 0,
                            }
                        }) }}
                    {% endif %}
                {% else %}
                    {% if vid.assetVideo.one %}
                        <video src="{{ vid.assetVideo.one.url }}" alt="{{ vid.assetVideo.one.title }}" controls playsinline></video>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>