{% set content = entry.pageContent.eagerly().all() | default(null) %}

{% extends "_layout" %}

{% block content %}

<div class="outer bg-white journal-entry">
    <div class="container py-5">
        <div class="row pt-5">
            {% if entry.heroImage.one %}
                <div class="col-12 mb-5">
                    <img src="{{ entry.heroImage.one.url({ width: 1440, format: 'webp' }) }}" alt="{{ entry.heroImage.one.filename }}" class="w-100">
                </div>
            {% endif %}
            <div class="col-lg-9">
                <div class="mb-2">{{ entry.postDate | date("d.m.y") | upper }}</div>
                <h1 class="{% if entry.newsCategories.one %}mb-3{% else %}mb-5{% endif %}">{{ entry.title }}</h1>
                {% if entry.newsCategories.one %}
                    <div class="d-flex flex-wrap mb-md-5 mb-4">
                        {% for tag in entry.newsCategories.limit(3).all() %}
                            {% include '/_includes/_content-builder/_partial/category-pill.twig' %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entry.text | length %}
                    <div class="article-copy">{{ entry.text }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="bg-black text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 py-md-5 pt-5 pb-3">
                <div class="row pt-lg-5 mb-lg-5 mb-3">
                    <div class="col-12">
                        <h2 class="mb-0 text-white">Related Articles</h2>
                    </div>
                </div>
                <div class="row">
                    {% for item in craft.entries.section('latest').id('not ' ~ entry.id).relatedTo(entry.newsCategories.one).limit(3).all() %}
                        {% include '/_includes/_content-builder/_partial/article-card.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{# Content #}
{% for index, block in content %}
    {% include '/_includes/_content-builder/_' ~ (block.type.handle | kebab) ignore missing with {
        index: index,
        block: block,
    } only %}
{% endfor %}


{% endblock %}