{% extends "_layout" %}

{% block content %}

    {% if entry.pageHeader.count() %}
        {% set header = entry.pageHeader.one %}
        {% include '_includes/_page-headers/_' ~ header.type.handle %}
    {% endif %}

    <div class="container">
        <div class="row pb-5">
            {% set section = craft.entries.section('latest') %}
            {% set query = section.limit(6) %}
            {% paginate query as pageInfo, pageEntries %}
            {% for item in pageEntries %}
                {% include '/_includes/_content-builder/_partial/article.twig' %}
            {% endfor %}
        </div>
        {% if pageInfo.totalPages > 1 %}
            <div class="row justify-content-center pagination-links pb-5">
                {% if craft.app.request.absoluteUrl == pageInfo.firstUrl %}
                    <span class="px-2">First page</span>
                {% else %}
                    <a href="{{ pageInfo.firstUrl }}" class="px-2">First Page</a>
                {% endif %}

                {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="px-2">Previous Page</a>{% endif %}

                {% for page, url in pageInfo.getPrevUrls(5) %}
                    <a href="{{ url }}" class="px-2">{{ page }}</a>
                {% endfor %}

                <span class="current px-2">{{ pageInfo.currentPage }}</span>

                {% for page, url in pageInfo.getNextUrls(5) %}
                    <a href="{{ url }}" class="px-2">{{ page }}</a>
                {% endfor %}

                {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="px-2">Next Page</a>{% endif %}

                {% if craft.app.request.absoluteUrl == pageInfo.lastUrl %}
                    <span class="px-2">Last page</span>
                {% else %}
                    <a href="{{ pageInfo.lastUrl }}" class="px-2">Last Page</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}