<div class="outer {{ block.backgroundColour }}">
    <div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} accordion-block">
        {% if block.header %}
            <div class="row pt-5">
                <div class="col-12">
                    <h2>{{ block.header }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="row pt-3 pb-5">
            <div class="col-12">
                <div id="accordion" class="accordion">
                    {% for item in block.accordionMatrix.all() %}
                        <div class="item">
                            <div id="{{ 'header' ~ loop.index }}" class="mt-2 header">
                                <h5>
                                    <button class="position-relative collapsed" data-toggle="collapse"
                                            data-target="#{{ 'collapse' ~ loop.index }}" aria-expanded="false"
                                            aria-controls="{{ 'collapse' ~ loop.index }}">
                                        {% if item.header %}
                                            {{ item.header }}
                                        {% endif %}
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="{{ 'collapse' ~ loop.index }}" class="body collapse collapsed"
                                 aria-labelledby="{{ 'header' ~ loop.index }}" data-parent="#accordion">
                                {% if item.copy %}
                                    <div class="copy p-4">
                                        {{ item.copy }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>