<div class="outer {{ block.backgroundColour }}">
    <div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} image-block">
        <div class="row py-5 justify-content-center">
            <div class="col-12">
                {% if block.image.one() %}
                    <img class="w-100" src="{{ block.image.one.url({ width: 1800, format: 'webp' }) }}" alt="{{ block.image.one.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>