<div class="outer {{ block.backgroundColour }}">
    <div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} imageSlider-block">
        {% if block.header %}
            <div class="row pt-5">
                <div class="col-12">
                    <h2>{{ block.header }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="row pt-3 pb-5 h-100">
            <div class="col-12 slider-wrap" id="image-slider">
                {% if block.images.all() | length %}
                    {% for item in block.images.all() %}
                        <div class="slide col-12 px-0">
                            <img src="{{ item.url({ width: 1200, format: 'webp' }) }}" alt="{{ item.title }}" class="w-100">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>