<div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} {{ block.backgroundColor }} imageSlider-block">
    <div class="row py-5">
        <div class="col-12 slider-wrap" id="image-slider">
            {% if block.images.all() | length %}
                {% for item in block.images.all() %}
                    <div class="slide">
                        <img src="{{ item.url }}" alt="{{ item }}" class="w-100">
                    </div>
                {% endfor %}
            {% else %}
                <div class="slide">
                    <div class="slide-inner">
                        <img src="https://via.placeholder.com/1920x1080.jpg?text=Missing+image" alt="Slide 1" >
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-inner">
                        <img src="https://via.placeholder.com/1920x1080.jpg?text=Missing+image" alt="Slide 2" >
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-inner">
                        <img src="https://via.placeholder.com/1920x1080.jpg?text=Missing+image" alt="Slide 3" >
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>