<div class="outer {{ block.backgroundColour }}">
    <div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} latestArticles-block">
        {% if block.header | length %}
            <div class="row pt-5">
                <div class="col-12">
                    <h2>{{ block.header }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="row {{ block.header | length ? "pt-4 pb-5" : "py-5" }}">
            {% for item in craft.entries.section('latest').limit(3).all() %}
                {% include '/_includes/_content-builder/_partial/article.twig' %}
            {% endfor %}
        </div>
    </div>
</div>