<header class="outer videoHeader" style="background-color: {{ hero.backgroundColour }}">
    <div class="">
        {% if hero.title | length %}
            <h1 class="sr-only">
                {{ hero.title }}
            </h1>
        {% endif %}
        {% if hero.video.one %}
            <div class="video-wrapper">
                {% set vid = hero.video.one %}
                {% if vid.type == 'externalVideo' %}
                    {% if vid.externalVideo.media.type == 'video' %}
                        {{ vid.externalVideo.render({
                            params: {
                                autoplay: 1,
                                controls: 0,
                                loop: 1,
                                mute: 1,
                            }
                        }) }}
                    {% endif %}
                {% else %}
                    {% if vid.assetVideo.one %}
                        <video src="{{ vid.assetVideo.one.url }}" alt="{{ vid.assetVideo.one.title }}"  autoplay loop muted playsinline></video>
                    {% else %}
                        <video autoplay loop muted playsinline>
                            <source src="./img/video_placeholder.mp4">
                        </video>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</header>